body {
	--bodywidth: 40em;
	--sidebarwidth: 40em;
	--widewidth: (--bodywidth + --sidebarwidth * 2);
}

input.wide {
	width: 70em;
}

fieldset,form {
	border-style: solid;
	border-width: 1px;
	border-color: #0f0;
	padding: 1em;
}

legend {
	border-style: solid;
	border-width: 1px;
	border-color: #0f0;
	padding: 0.3em;
	/*margin: -0.5em;*/
}

/* Content should be a centered column*/
#content {
	margin: auto;
	max-width: 40em;
}

.wide  {
	margin: auto;
	max-width: 80em;
}

footer {
	margin: auto;
	max-width: 40em;
}

#sidebar {
}

#tile {
	color: #eee;
	margin:auto;

}

/* dark background */
body,input {
	background: #111;
	color: #eee;
}

/* Link styling */
a:visited {
	color: #3cc
}
a {
	color: #5ff
}

/* keep images centered in column */
img {
	margin: auto;
	max-width: 40em;
}

/* Narrow screen layout */
@media (max-width: 100em) {
	#sidebar {
		margin: auto;
		max-width: --body-width;
	}
}

/* Wide screen layout with sidebar on side and content centered */
@media (min-width: 100em) {
	#sidebar {
		position: fixed;
		max-width: --sidebar-width;
	}
}

.highlight pre {
	/* Avoid pushing up the copy buttons */
	margin-top: 0;
	border-radius: 3px;
	padding: 10px;
	overflow: auto;
	font-size: 0.9em;
}

.highlight pre code {
	/* Otherwise, overflow text hits the edge of the block */
	margin-right: 8px;
	display: inline-block;
}

