/* */
body {
	--bodywidth: 40em;
	--sidebarwidth: 40em;
	--widewidth: (--bodywidth + --sidebarwidth * 2);
	font-family: sans-serif;
}

/* Sidebar formatting */
fieldset {
	border-style: solid;
	border-width: 1px;
	border-color: #0d0;
	color: #eee;
	padding: 1em;
	margin: 1em;
}
legend {
	border-style: solid;
	border-width: 1px;
	border-color: #0d0;
	padding: .3em;
}

/* Dark theme and narrow column layout */
@media screen {
	#content {
		margin: auto;
		max-width: 40em;
	}
	.wide  {
		margin: auto;
		max-width: 80em;
	}
	footer {
		margin: auto;
		max-width: 40em;
	}
	#tile {
		color: #eee;
		margin:auto;
	}
	body,input {
		background: #111;
		color: #eee;
	}
	blockquote {color: #777;}
	a:visited {color: #3cc}
	a {color: #5ff}
}

@media print {
	#sidebar {
		display: none
	}
}

/*keep images centered in column */
img:not(.icon) {
	margin: auto;
	width: 40em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Narrow screen layout */
@media (max-width: 65em) {
	#sidebar {
		max-width: --sidebar-width;
	}
}

/* Wide screen layout with sidebar on side and content centered */
@media (min-width: 65em) {
	#sidebar {
		position: fixed;
		max-width: --sidebar-width;
	}
}

.highlight pre {
	/* Avoid pushing up the copy buttons */
	margin-top: 0;
	border-radius: 3px;
	padding: 10px;
	overflow: auto;
	font-size: 0.9em;
}

.highlight pre code {
	/* Otherwise, overflow text hits the edge of the block */
	margin-right: 8px;
	display: inline-block;
}
/* Stop footnotes from messing up line spacing */
sup { vertical-align: top; font-size: .7em; }

/* Add brackets to footnotes */
sup a::before { content: "[" }
sup a::after { content: "]" }

input.wide { width: 70em; }

#ad-note-hidden {
	display: none;
}

@media (min-height: 30em) { @media (min-width: 65em) {
	#ad-note {
		position: fixed;
		bottom: 1em;
		right: 1em;

		z-index: 1;

		width: 20em;
		border: solid;
		border-style: white 1px;
		background-color: #111111;
		padding: 1em;
	}
	#ad-note-content-wrapper {
		margin-top: 0em;
		margin-bottom: 0em;
	}
}}

@media (max-height: 30em) {
	#ad-note {
		display: none;
	}
}

@media (max-width: 65em) {
	#ad-note {
		display: none;
	}
}

th {
	text-align: left;
	padding-right: 1em;
	background-color: #111;
}

tr:nth-child(even) {
	background-color: #000;
}

tr:nth-child(odd) {
	background-color: #222;
}
