/* Layout information*/
body {
	--bodywidth: 40em;
	--sidebarwidth: 40em;
	--widewidth: (--bodywidth + --sidebarwidth * 2);
	font-family: sans-serif;
	background: #111;
	color: #eee;
}

/* Sidebar formatting */
fieldset {
	border-style: solid;
	border-width: 1px;
	border-color: #0d0;
	color: #eee;
	padding: 1em;
	margin: 1em;
}
legend {
	border-style: solid;
	border-width: 1px;
	border-color: #0d0;
	padding: .3em;
}

/* Column */
main, footer {
	display: block;
	margin: auto;
	max-width: 40em;
}
/* Wide images */
.wide  {
	margin: auto;
	max-width: 80em;
}

blockquote {
	color: #888;
}

a:visited {
	color: #399;
	text-decoration: none;
}

a {
	color: #4ee;
	text-decoration: none;
}

img {
	margin: auto;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}

/* Narrow screen layout */
@media (max-width: 65em) {
	nav {
		max-width: --sidebar-width;
	}
}

/* Wide screen layout with sidebar on side and content centered */
@media (min-width: 65em) {
	nav {
		position: fixed;
		max-width: --sidebar-width;
	}
}

/* Code block formatting */
.highlight pre {
	padding: 10px;
	overflow: auto;
}

/* Stop footnotes from messing up line spacing */
sup { vertical-align: top; font-size: .7em; }

/* Add brackets to footnotes */
sup a::before { content: "[" }
sup a::after { content: "]" }

input.wide { width: 70em; }

/* missing addblocker notice */
#ad-note-hidden {
	display: none;
}

@media (min-height: 30em) { @media (min-width: 65em) {
	#ad-note {
		position: fixed;
		bottom: 1em;
		right: 1em;

		z-index: 1;

		width: 20em;
		border: solid;
		border-style: white 1px;
		background-color: #111111;
		padding: 1em;
	}
	#ad-note-content-wrapper {
		margin-top: 0em;
		margin-bottom: 0em;
	}
}}

@media (max-height: 30em) {
	#ad-note {
		display: none;
	}
}

@media (max-width: 65em) {
	#ad-note {
		display: none;
	}
}


/* tables */
th {
	text-align: left;
	padding-right: 1em;
	background-color: #111;
}

tr:nth-child(even) {
	background-color: #000;
}

tr:nth-child(odd) {
	background-color: #222;
}
