/* Layout information*/
body {
	font-family: sans-serif;
	background: #111;
	color: #eee;
}

/* Sidebar formatting */
fieldset {
	border: #0d0 1px solid;
	color: #eee;
	padding: 1em;
	margin: 1em;
}
legend {
	border: #0d0 1px solid;
	padding: .3em;
}

/* Column */
main, footer {
	margin: auto;
	max-width: 40em;
}
/* Wide images */
.wide  {
	margin: auto;
	max-width: 80em;
}

blockquote {
	color: #888;
}

a:visited {
	color: #399;
	text-decoration: none;
}

a {
	color: #4ee;
	text-decoration: none;
}

img {
	margin: auto;
	width: 40em;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
		
nav {
	max-width: 15em;
}

/* Wide screen layout with sidebar on side and content centered */
@media (min-width: 66em) {
	nav {
		position: fixed;
	}
}

/* Code block formatting */
.highlight pre {
	padding: 10px;
	overflow: auto;
}

/* Stop footnotes from messing up line spacing */
sup { vertical-align: top; font-size: .7em; }

/* Add brackets to footnotes */
sup a::before { content: "[" }
sup a::after { content: "]" }

input.wide { width: 70em; }

/* missing addblocker notice */
#ad-note-hidden, #ad-note {
	display: none;
}

@media (min-height: 30em) { @media (min-width: 75em) {
	#ad-note {
		display: block;
		position: fixed;
		bottom: 1em;
		right: 1em;
		z-index: 1;
		width: 14em;
		border: white 1px solid;
		background-color: #111111;
		padding: 1em;
	}
	#ad-note-content-wrapper {
		margin-top: 0em;
		margin-bottom: 0em;
	}
}}

th {
	text-align: left;
	padding-right: 1em;
	background-color: #111;
}

tr:nth-child(even) {
	background-color: #000;
}

tr:nth-child(odd) {
	background-color: #222;
}
