<div id=sidebar><nav><fieldset>
	<legend>Navigation:</legend>
	<a href="/">Homepage</a><br/>
	<a href="/archive">Yearly archives</a><br/>
	<a href="/tags">All tags</a><br/>
	<a href="/tags/astro">Astrophotography</a><br/>
	<a href="/real_pages">Real pages</a><br/>
</fieldset></nav></div>
<!-- Function to hide banner -->
<script>
function hide() {
	document.getElementById("ad-note").id = 'ad-note-hidden'
	document.cookie = "notice-shown: true"
}
</script>
<!-- Lots of ad-like classes -->
<div
  id="ad-note-hidden"
  class="ftf-dma-note ad native-ad native-ad-1 ytd-j yxd-j yxd-jd aff-content-col aff-inner-col aff-item-list ark-ad-message inplayer-ad inplayer_banners in_stream_banner trafficjunky-float-right dbanner preroll-blocker happy-inside-player blocker-notice blocker-overlay exo-horizontal ave-pl bottom-hor-block brs-block advboxemb wgAdBlockMessage glx-watermark-container overlay-advertising-new header-menu-bottom-ads rkads mdp-deblocker-wrapper amp-ad-inner imggif bloc-pub bloc-pub2 hor_banner aan_fake aan_fake__video-units rps_player_ads fints-block__row full-ave-pl full-bns-block vertbars video-brs player-bns-block wps-player__happy-inside gallery-bns-bl stream-item-widget adsbyrunactive happy-under-player adde_modal_detector adde_modal-overlay ninja-recommend-block aoa_overlay message"
>
  <p id="ad-note-content-wrapper">
  </p>
</div>
<!-- If this file runs, the message will be shown -->
<script defer src="/nativeads.js"></script>
