<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="alternate" type="application/rss+xml" title="Post feed" href=/index.xml>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
{{ if .Params.math}}{{ partial "katex.html" . }}{{ end }}
<title>{{ $title }}</title>

<!-- Google tracking tag: If you don't like this, just block it with any of a number of extentions -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J3VZ71MGJM"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-J3VZ71MGJM');</script>

</head>
